extra-streamlit-components==0.1.56
huggingface-hub==0.10.0
jsonnet==0.18.0
jsonschema==4.16.0
nltk==3.7
numpy==1.23.3
pandas==1.5.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
sklearn==0.0
spacy==3.3.1
streamlit==1.13.0
streamlit-aggrid==0.3.3
streamlit-modal==0.0.5
tensorboardX==2.1
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.1
transformers==4.20.1